.main-window-class, .comparison-window-class {
  text-align: center;
}

.main-window-header {
  font-size: 1.2em;
  font-weight: bold;
}

.main-window-value {
  font-size: 2em;
  font-weight: bold;
}

.main-window-time, .main-window-version {
  font-size: 1em;
  color: var(--text-muted);
}

.muted-text-style {
  /* font-size: var(--font-ui-smaller); */
  color: var(--text-muted);
  font-weight: bold;
}

.bold-text-style {
  font-weight: bolder;
}

.semi-header-text-style {
  font-weight: bolder;
  font-size: 1.35em;
}

.comparison-window-class p {
  margin: 0.15em 0 0.15em 0;
}

.margin-element {
  padding: 0.65em 0 0.65em 0;
}

.highest-performance-window-class {
  text-align: center;
}

.pp-rank {
  font-weight: normal;
}

.pp-value {
  font-weight: bolder;
}

.pp-date {
  font-weight: 100;
}

.account-statistics-window-class {
  text-align: center;
}

.experience-progressbar {
  width: 100%;
  height: 12px;
  background-color: #8080803f;
  /* do not remove this line or the element's corners will not be smoothened. */
  border-radius: 150px;
  overflow: hidden;
}

.experience-progressbar-fill {
  height: 100%;
  width: 0%;
  background-color: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
  transition: width 1.5s ease-out; 
}